<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>[[#{persona.inicio}]]</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <section th:replace="layout/botonAgregar :: botonAgregar"></section>
        <section th:replace="layout/agregarPersona :: agregarPersona"></section>
        <section th:replace="layout/listadoPersona :: listadoPersona"></section>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
